services:
  scraper:
    build: .
    container_name: nairobi_scraper
    volumes:
      - ./data:/app/data
      - ./scrapers:/app/scrapers
      - ./notebooks:/app/notebooks
    ports:
      - "8888:8888"
      - "8501:8501" 
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    stdin_open: true
    tty: true
    command: bash